# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LGK246_LEFT
    def_bool $(shields_list_contains,lgk246_left)

config SHIELD_LGK246_RIGHT
    def_bool $(shields_list_contains,lgk246_right)
