# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LGK246_LEFT

config ZMK_KEYBOARD_NAME
    default "LGK246"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LGK246_LEFT || SHIELD_LGK246_RIGHT

config ZMK_SPLIT
    default y

endif
